entrypoint = "run.py"

[interpreter]
command = ["python3", "-u"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "run.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
